<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Veliqolab"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".views.otp.OtpResetPasswordActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="challenge.veliqo.com"
                    android:scheme="https" />
                <data android:host="challenge.veliqo.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="challenge.veliqo.com"
                    android:pathPrefix="/change-password"
                    android:scheme="https" />
                <data android:host="appveliqo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.deep_linking.DeepLinkingActivity"
            android:exported="true"
            android:label="com.veliqo.wapazock" />
        <activity android:name=".views.reset_password.ResetPasswordActivity" />
        <activity android:name=".views.otp.CheckYourEmailActivity" />
        <activity android:name=".views.otp.VerifyRegistrationEmailActivity" />
        <activity android:name=".views.login.loginActivity" />
        <activity android:name=".views.register.register" />
        <activity android:name=".views.addresses.ViewAddress"/>
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".views.welcome.WelcomeActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Veliqolab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>